*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header section */
.header{
    max-width: 1740px;
    margin: 0 auto;
     background-color: rgba(255, 144, 14, 0.1);   
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding: 20px 50px;
}
.services ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
.service-item{
    list-style: none;
}
.service-item a{
    text-decoration: none;
    color: #424242;
    font-size: 1.1rem;
    font-weight: 400;
}
.logo{
    font-size: 2rem;
    font-weight: 900;
    font-style: bold;
}

/* Banner section */
.banner{
    max-width: 1440px;
    margin: 0 auto;
   
    margin-top: 100px;
    padding-bottom: 50px;
}
.banner-content{
     max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
     font-weight: 700;
    font-size: 4rem;
    margin-bottom: 20px;
}
.banner-description{
    margin-bottom: 20px;
     color: #424242;
    font-size: 1.1rem;
    font-weight: 400;

}
.banner-img {
    width: 100%;
    border-radius: 10px;
}

.btn-primary {
    background-color: #FF900E;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    color: white;
    cursor: pointer;
   
}

.btn-primary:hover {
    background-color: #e07b05;
}

/* teams section */

.teams{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.teams-img-container{
    gap: none;
    border-radius: none;
    margin-top: 30px;
}

.teams-container {
    max-width: 530px;
    margin-left: 130px;
}

.teams-title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 22px;
}

#quik-list {
    font-weight: 400;
     color: #424242;
}

.light-yellow{
    color:  #FF900E;
}
.teams-description {
    margin-bottom: 30px;
    font-size: 1rem;
     color: #424242;
}

/* - feature section */

.features-section {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
}

.features-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

#features-section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
     color: #727272;
      margin-bottom: 25px;
}


.feature-card {
    padding: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    margin-bottom: 20px;
}

.feature-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.feature-description{
    color: #727272;
}

.feature-img{
    margin-top: 25px;
}

#experience-badge {
    padding: 40px 52px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}

#experience-year {
    font-size: 3rem;
    font-weight: 700;
}

/* fact-section */

.fact-section{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
}

.fact-title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 22px;
}

.fact-description {
    max-width: 540px;
    color: #727272;
}

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 20px;
    margin-top: 60px;
}

.fact {
    border: 1px solid #FF900E;
    border-radius: 10px;
    width: 240px;
    height: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.fact:hover {
    background-color: #FF900E;
    color: #fff;
}

.fact-icon {
    width: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.fact-number {
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.fact-name {
    font-size: 1rem;
    color: #727272;
}

/* our sponsors */

.sponsor-section{
    max-width: 14400px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.Sponsor-info {
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
   
}

.sponsor-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 23px;
}

.sponsor-description {
     color: #424242;
    margin-bottom: 50px;
    
}

.sponsor-img{

     display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 20px;
}

/* footer section */

.footer {
    max-width: 1140px;
    margin: 0 auto;
    background-color: #FFF4E7;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 8px;
    margin-bottom: 125px;
}

.footer-section {
    font-size: 1rem;
    font-weight: 500;
}
